data/Medicare_Provider_Util_Payment_PUF_CY2012.txt
data/Medicare_Provider_Util_Payment_PUF_CY2013.txt
data/Medicare_Provider_Util_Payment_PUF_CY2014.txt
data/Medicare_Provider_Util_Payment_PUF_CY2015.txt
data/Medicare_Provider_Util_Payment_PUF_CY2016.txt
individualProj.Rdata
Individual_Project_Israel.zip
